<div class="row text-center">
    <div class="col-md-6 offset-3">
        <h1 class="text-info">You've reached the end of the internet!</h1>
        <img style="width: 100px; height: 100px;"src="https://res.cloudinary.com/teepublic/image/private/s--vZPa7eiI--/t_Resized%20Artwork/c_fit,g_north_west,h_954,w_954/co_000000,e_outline:48/co_000000,e_outline:inner_fill:48/co_ffffff,e_outline:48/co_ffffff,e_outline:inner_fill:48/co_bbbbbb,e_outline:3:1000/c_mpad,g_center,h_1260,w_1260/b_rgb:eeeeee/c_limit,f_auto,h_630,q_90,w_630/v1542741732/production/designs/3543329_0.jpg" />
        <hr />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="Index">Home Page</a>
    </div>
    
</div>
