<div class="row">
    <div class="col-md-6 offset-3 alert alert-success text-center">
        <h2> Account Registered Succesfully!</h2>
        <p>Log in to book your movies today! </p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>
